<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <iframe height="0" width="0"
            src="//4507895.fls.doubleclick.net/activityi;src=4507895;type=invmedia;cat=5IBXNwmu;ord=7152345709895;~oref=https%3A%2F%2Fsuccess.jd.com%2Fsuccess%2Fsuccess.action%3ForderId%3D50543247878%26rid%3D0.056447827907426085?"
            style="display: none; visibility: hidden;"></iframe>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" async="" src="//misc.360buyimg.com/lib/js/2012/mvl.js"></script>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-T947SH"></script>
    <script type="text/javascript" async="" src="https://wl.jd.com/wl.js"></script>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Start: injected by Adguard -->
    <script src="//local.adguard.com/adguard-ajax-api/injections/content-script.js?sb=1&amp;ts=1488083553.737677&amp;js=1&amp;domain=success.jd.com&amp;css=1&amp;generic=1"
            type="text/javascript" crossorigin="anonymous"></script>
    <script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Assistant?ts=1487930534.735624"
            type="text/javascript" crossorigin="anonymous"></script>
    <!-- End: injected by Adguard -->
    <link type="text/css" rel="stylesheet"
          href="//misc.360buyimg.com/jdf/1.0.0/unit/??ui-base/1.0.0/ui-base.css,shortcut/2.0.0/shortcut.css,global-header/1.0.0/global-header.css,myjd/2.0.0/myjd.css,nav/2.0.0/nav.css,shoppingcart/2.0.0/shoppingcart.css,global-footer/1.0.0/global-footer.css,service/1.0.0/service.css">
    <link type="text/css" rel="stylesheet"
          href="//misc.360buyimg.com/user/purchase/2.0.0/widget/??common/common.css,header-succ-2015/header-succ-2015.css,trade-success/trade-success.css"
          source="widget">
    <title>订单成功页面 - XBin商城</title>
    <script type="text/javascript" src="https://fa.jd.com/loadFa_toJson.js?aid=2_697_4347"></script>
    <script type="text/javascript" src="https://fa.jd.com/loadFa_toJson.js?aid=14_720_4500"></script>
    <style type="text/css" id="tipsCSS">.Jtips {
        position: relative;
        float: left
    }

    .Jtips .Jtips-close {
        position: absolute;
        width: 10px;
        height: 10px;
        color: #f60;
        font: 12px/10px "simsun";
        cursor: pointer
    }

    .Jtips .Jtips-arr {
        position: absolute;
        background-image: url(//misc.360buyimg.com/purchase/trade/skin/i/arrow.gif);
        background-repeat: no-repeat;
        overflow: hidden
    }

    .Jtips.Jtips-top {
        padding-bottom: 5px
    }

    .Jtips.Jtips-top .Jtips-close {
        right: 10px;
        top: 12px
    }

    .Jtips.Jtips-top .Jtips-arr {
        left: 10px;
        bottom: 0;
        width: 11px;
        height: 6px;
        background-position: 0 -5px
    }

    .Jtips.Jtips-bottom {
        padding-top: 5px
    }

    .Jtips.Jtips-bottom .Jtips-close {
        right: 10px;
        top: 17px
    }

    .Jtips.Jtips-bottom .Jtips-arr {
        top: 0;
        left: 10px;
        width: 11px;
        height: 6px;
        background-position: 0 0
    }

    .Jtips.Jtips-left {
        padding-right: 5px
    }

    .Jtips.Jtips-left .Jtips-close {
        right: 16px;
        top: 12px
    }

    .Jtips.Jtips-left .Jtips-arr {
        right: 0;
        top: 10px;
        width: 6px;
        height: 11px;
        background-position: -5px 0
    }

    .Jtips.Jtips-right {
        padding-left: 5px
    }

    .Jtips.Jtips-right .Jtips-close {
        right: 10px;
        top: 12px
    }

    .Jtips.Jtips-right .Jtips-arr {
        top: 10px;
        left: 0;
        width: 6px;
        height: 11px;
        background-position: 0 0
    }

    .Jtips .Jtips-con {
        padding: 7px 30px 7px 10px;
        background: #fffdee;
        border: 1px solid #edd28b;
        color: #333;
        -moz-box-shadow: 0 0 2px 2px #eee;
        -webkit-box-shadow: 0 0 2px 2px #eee;
        box-shadow: 0 0 2px 2px #eee
    }

    .Jtips .Jtips-con a, .Jtips .Jtips-con a:visited {
        color: #005fab;
        text-decoration: none
    }

    .Jtips .Jtips-con a:hover {
        text-decoration: underline
    }</style>
    <script type="text/javascript"
            src="https://wq.jd.com/wdcolumn/tempqrcode/tempqrcode?orderid=50543247878&amp;callback=wxsqQrcodeGetUrl"></script>
    <style>#wx-share-tip {
        position: absolute;
        width: 415px;
        display: none;
        z-index: 9999;
    }

    #wx-share-tip .tip-inner {
        border: 1px solid #ddd;
        background: #fff;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        box-shadow: 0 0 10px rgba(0, 0, 0, .15)
    }

    #wx-share-tip .wx-qrcode {
        height: 120px;
        padding: 20px 20px 20px 120px;
        overflow: hidden
    }

    #wx-share-tip .wx-qrcode .qrcode {
        float: left;
        display: inline;
        width: 120px;
        height: 120px;
        margin-left: -95px;
        margin-right: 15px
    }

    #wx-share-tip .wx-qrcode .title {
        font: 16px/22px "microsoft yahei";
        margin-bottom: 9px;
        color: #666
    }

    #wx-share-tip .wx-qrcode .hint {
        font: 12px/20px "????";
        color: #999
    }

    #wx-share-tip .wx-explain {
        padding: 15px 20px 22px;
        border-top: 1px solid #eee;
        background: #f8f8f8
    }

    #wx-share-tip .wx-explain .title {
        font: 700 14px/22px "microsoft yahei";
        text-align: center;
        color: #666
    }

    #wx-share-tip .wx-explain .hint {
        margin-bottom: 10px;
        font: 12px/20px "????";
        color: #999
    }

    #wx-share-tip .wx-explain .step {
        display: block;
        width: 370px;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
        background: #ededed
    }

    #wx-share-tip .tip-arrow {
        position: absolute;
        left: 34px;
        bottom: -15px;
        width: 16px;
        height: 16px;
        overflow: hidden
    }

    #wx-share-tip .tip-arrow em {
        position: absolute;
        left: 0;
        border-width: 8px;
        border-style: solid dashed dashed
    }

    #wx-share-tip .tip-arrow em.layer1 {
        border-color: #ddd transparent transparent;
        top: 1px
    }

    #wx-share-tip .tip-arrow em.layer2 {
        border-color: #fff transparent transparent
    } </style>
</head>
<body id="mainframe">
<div id="shortcut-2014">
    <div class="w">
        <ul class="fl">
            <li class="dorpdown" id="ttbar-mycity">
                <div class="dt cw-icon ui-areamini-text-wrap"><i class="ci-right"><s>◇</s></i> 送至：<span
                        class="ui-areamini-text" data-id="12" title="江苏">江苏</span></div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="ui-areamini-content-wrap">
                        <div class="ui-areamini-content">
                            <div class="ui-areamini-content-list">
                                <div class="item"><a data-id="1" href="javascript:void(0)">北京</a></div>
                                <div class="item"><a data-id="2" href="javascript:void(0)">上海</a></div>
                                <div class="item"><a data-id="3" href="javascript:void(0)">天津</a></div>
                                <div class="item"><a data-id="4" href="javascript:void(0)">重庆</a></div>
                                <div class="item"><a data-id="5" href="javascript:void(0)">河北</a></div>
                                <div class="item"><a data-id="6" href="javascript:void(0)">山西</a></div>
                                <div class="item"><a data-id="7" href="javascript:void(0)">河南</a></div>
                                <div class="item"><a data-id="8" href="javascript:void(0)">辽宁</a></div>
                                <div class="item"><a data-id="9" href="javascript:void(0)">吉林</a></div>
                                <div class="item"><a data-id="10" href="javascript:void(0)">黑龙江</a></div>
                                <div class="item"><a data-id="11" href="javascript:void(0)">内蒙古</a></div>
                                <div class="item"><a data-id="12" href="javascript:void(0)" class="selected">江苏</a>
                                </div>
                                <div class="item"><a data-id="13" href="javascript:void(0)">山东</a></div>
                                <div class="item"><a data-id="14" href="javascript:void(0)">安徽</a></div>
                                <div class="item"><a data-id="15" href="javascript:void(0)">浙江</a></div>
                                <div class="item"><a data-id="16" href="javascript:void(0)">福建</a></div>
                                <div class="item"><a data-id="17" href="javascript:void(0)">湖北</a></div>
                                <div class="item"><a data-id="18" href="javascript:void(0)">湖南</a></div>
                                <div class="item"><a data-id="19" href="javascript:void(0)">广东</a></div>
                                <div class="item"><a data-id="20" href="javascript:void(0)">广西</a></div>
                                <div class="item"><a data-id="21" href="javascript:void(0)">江西</a></div>
                                <div class="item"><a data-id="22" href="javascript:void(0)">四川</a></div>
                                <div class="item"><a data-id="23" href="javascript:void(0)">海南</a></div>
                                <div class="item"><a data-id="24" href="javascript:void(0)">贵州</a></div>
                                <div class="item"><a data-id="25" href="javascript:void(0)">云南</a></div>
                                <div class="item"><a data-id="26" href="javascript:void(0)">西藏</a></div>
                                <div class="item"><a data-id="27" href="javascript:void(0)">陕西</a></div>
                                <div class="item"><a data-id="28" href="javascript:void(0)">甘肃</a></div>
                                <div class="item"><a data-id="29" href="javascript:void(0)">青海</a></div>
                                <div class="item"><a data-id="30" href="javascript:void(0)">宁夏</a></div>
                                <div class="item"><a data-id="31" href="javascript:void(0)">新疆</a></div>
                                <div class="item"><a data-id="52993" href="javascript:void(0)">港澳</a></div>
                                <div class="item"><a data-id="32" href="javascript:void(0)">台湾</a></div>
                                <div class="item"><a data-id="84" href="javascript:void(0)">钓鱼岛</a></div>
                                <div class="item"><a href="//en.jd.com/" target="_blank" data-onchange="1">海外</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="fr">
            <li class="fore1 dorpdown" id="ttbar-login">
                <div class="dt cw-icon"><i class="icon-plus-nickname"></i> <i class="ci-right"><s>◇</s></i> <a
                        class="nickname" target="_blank" href="//home.jd.com/">Cynicismsr</a></div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="userinfo">
                        <div class="u-pic"><a target="_blank" href="//home.jd.com/"><img
                                src="//i.jd.com/commons/img/no-img_mid_.jpg" width="60" height="60"></a></div>
                        <div class="u-plus"><a href="https://passport.jd.com/uc/login?ltype=logout" class="link-logout">退出</a><a
                                href="https://plus.jd.com/index" target="_blank" class="icon-plus-dropdown"></a></div>
                        <div class="u-msg"><a href="https://plus.jd.com/index" target="_blank">试用PLUS会员领免运费券&gt;</a>
                        </div>
                    </div>
                    <div class="badge-list"><a href="javascript:void(0);" class="badge-list-prev">&lt;</a>
                        <div class="u-badges" style="position: relative;">
                            <div class="badge-panel-main" style="width: 740px; left: 0px; position: absolute;">
                                <div class="badge-panel fore1 ui-switchable-panel-selected u-dis"
                                     style="float: left; display: block;"><a href="https://plus.jd.com/index"
                                                                             target="_blank"><i></i>
                                    <p class="u-name">免费试用</p></a></div>
                                <div class="badge-panel fore2" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-01" target="_blank"><i></i>
                                    <p class="u-name">自营运费补贴</p></a></div>
                                <div class="badge-panel fore3" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-02" target="_blank"><i></i>
                                    <p class="u-name">售后服务</p></a></div>
                                <div class="badge-panel fore4" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-03" target="_blank"><i></i>
                                    <p class="u-name">评价奖励</p></a></div>
                                <div class="badge-panel fore5" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-04" target="_blank"><i></i>
                                    <p class="u-name">会员特价</p></a></div>
                                <div class="badge-panel fore6" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-05" target="_blank"><i></i>
                                    <p class="u-name">生日礼包</p></a></div>
                                <div class="badge-panel fore7" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-07" target="_blank"><i></i>
                                    <p class="u-name">专享礼包</p></a></div>
                                <div class="badge-panel fore8" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-06" target="_blank"><i></i>
                                    <p class="u-name">装机服务</p></a></div>
                                <div class="badge-panel fore9 u-dis" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-08" target="_blank"><i></i>
                                    <p class="u-name">贵宾专线</p></a></div>
                                <div class="badge-panel fore10 u-dis" style="float: left; display: block;"><a
                                        href="//vip.jd.com/help.html#mypri-09" target="_blank"><i></i>
                                    <p class="u-name">运费券</p></a></div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="badge-list-next">&gt;</a></div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore2">
                <div class="dt">
                    <a target="_blank" href="http://order.jd.com/center/list.action">我的订单</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore3 dorpdown" id="ttbar-myjd">
                <div class="dt cw-icon">
                    <i class="ci-right"><s>◇</s></i>
                    <a target="_blank" href="http://home.jd.com/">我的XBin</a>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="dd-inner"><span class="loading"></span></div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore4">
                <div class="dt">
                    <a target="_blank" href="http://vip.jd.com/">XBin会员</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore5">
                <div class="dt">
                    <a target="_blank" href="http://b.jd.com/">企业采购</a>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore6 dorpdown" id="ttbar-apps" aid="2_955_6342">
                <div class="dt cw-icon">
                    <i class="ci-left"></i>
                    <i class="ci-right"><s>◇</s></i>
                    <a target="_blank" href="http://app.jd.com/">手机XBin</a>
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="dd-inner" id="ttbar-apps-main">
                        <div class="dd-spacer"></div>
                        <div class="dd-inner"><span class="loading"></span></div>
                    </div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore7 dorpdown" id="ttbar-atte" aid="2_955_6494">
                <div class="dt cw-icon">
                    <i class="ci-right"><s>◇</s></i>关注XBin
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="dd-inner" id="ttbar-atte-main">
                        <div class="dd-spacer"></div>
                        <div class="dd-inner"><span class="loading"></span></div>
                    </div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore8 dorpdown" id="ttbar-serv">
                <div class="dt cw-icon">
                    <i class="ci-right"><s>◇</s></i>客户服务
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="dd-inner"><span class="loading"></span></div>
                </div>
            </li>
            <li class="spacer"></li>
            <li class="fore9 dorpdown" id="ttbar-navs">
                <div class="dt cw-icon">
                    <i class="ci-right"><s>◇</s></i>网站导航
                </div>
                <div class="dd dorpdown-layer">
                    <div class="dd-spacer"></div>
                    <div class="dd-inner"><span class="loading"></span></div>
                </div>
            </li>
        </ul>
        <span class="clr"></span>
    </div>
</div>
<div id="o-header-2013">
    <div id="header-2013" style="display:none;"></div>
</div>
<!--shortcut end-->
<div id="o-header-2013">
    <div id="header-2013" style="display:none;"></div>
</div>
<div class="w w1 header clearfix">
    <div id="logo">
        <a href="//localhost:8101/" class="link1" target="_blank">
            <img src="/images/logo-201305.png" alt="XBin商城">
        </a>
        <a href="#none" class="link2"><b></b>"结算页"</a>
    </div>
    <div class="stepflex" id="#sflex03">
        <dl class="first done">
            <dt class="s-num">1</dt>
            <dd class="s-text">1.填写验证码<s></s><b></b></dd>
        </dl>
        <dl class="normal done">
            <dt class="s-num">2</dt>
            <dd class="s-text">2.填写核对订单信息<s></s><b></b></dd>
        </dl>
        <dl class="normal doing last">
            <dt class="s-num">3</dt>
            <dd class="s-text">3.成功提交订单<s></s><b></b></dd>
        </dl>
    </div>
</div>
<!-- /header -->
<!--/ /widget/header-succ-2015/header-succ-2015.tpl -->
<div class="w" id="safeinfo"></div><!--父订单的ID-->
<input type="hidden" id="successOrderId" value="50543247878">
<div id="container">
    <div class="w main">
        <div class="m m3 msop">
            <div class="mt" id="success_tittle"><s class="icon-succ02"></s>
                <h3 class="ftx-02">感谢您，订单提交成功！</h3>
            </div>
            <div class="mc" id="success_detail">
                <input type="hidden" id="loadSuccessFlag" value="ok"><!-- 加載成功標識  -->
                <input type="hidden" id="skuIds" value="2409310"><!-- 商品id串  -->
                <!-- 再次购买按钮 -->
                <div class="btn-area mb10">
                    <a class="btn-ordershow" href="//order.jd.com/center/list.action"
                       clstag="pageclick|keycount|trade_201602181|31">查看订单</a>
                    <a class="btn-buyagain ml10"
                       href="http://cart.jd.com/cart/dynamic/reBuyForOrderCenter.action?wids=2409310&amp;nums=1&amp;rid=1488110603473"
                       clstag="pageclick|keycount|trade_201602181|32">
                        <i></i>
                        再次购买
                    </a>
                </div>

                <ul class="list-order">
                    <li class="li-st">
                        <div class="fore1">订单号：<a
                                href="http://order.jd.com/center/itemPage.action?orderid=50543247878&amp;PassKey=C9D5B66935BF6BD8CC8D4F33835B370C">50543247878</a>
                        </div>
                        <!-- 货到付款 -->
                        <div class="fore2">货到付款：<strong class="ftx-01">14.90元</strong></div>
                        <div class="fore3">
                            上门自提 &nbsp; 提货日期：<strong class="ftx-01">2017-02-27</strong><br>
                            自提地址：<strong> 南京XBin派自提车</strong> &nbsp; 地址：南京市xxxxxxx
                            <a href="" target="_blank">(详细地图)</a>
                        </div>
                    </li>
                </ul>
                <!-- 在线支付按钮  -->
                <div id="bookDiv"></div>
                <div class="wx-banner">
                    <div class="wx-share">
                        <div class="share-trigger" id="gwqpc-handle-point" data-scene="100104000"
                             data-dealid="50543247878" data-pin="897960453">
                            <i class="i-share"></i><span class="txt">分享给微信好友</span>
                        </div>
                    </div>
                    <div class="mobile-ordertrack">
                        <div class="ordertrack-trigger">
                            <i class="i-mobile"></i><span class="txt">订单小助手&nbsp;随时随地查订单</span>
                        </div>
                        <div class="wx-qrcode-tip">
                            <span class="tip-arrow"><em class="layer1"></em><em class="layer2"></em></span>
                            <div class="tip-inner">
                                <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQGZ8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyUm9Rc2x0Y0ZiRnMxd1JsUWhvMVQAAgS1w7JYAwSAUQEA"
                                     id="qrcode-order" alt="" class="tip-img">
                                <div class="tip-cont">
                                    <div class="tip-title">订单助手</div>
                                    <div class="tip-hint">关注微信公众号<br>随时随地查订单</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-tips">
            <span class="d-tips-cont">
                <i></i>
			       重要提醒：XBin平台及销售商不会以
			    <span class="ftx-01">任何理由</span>
			       ，要求您点击
			    <span class="ftx-01">任何网址链接</span>
                进行退款操作。点此查看XBin平台“
			    <a class="ftx-05" target="_blank" href="http://www.jd.com/news.aspx?id=22399">谨防诈骗公告声明</a>
			    ”
            </span>
                </div>
            </div>
            <div class="qr-code"><a class="code" href="javascript:void(0)"><img alt=""
                                                                                src="//img10.360buyimg.com/da/jfs/t355/22/1290598403/5586/a8504482/5435f1eeNc4bfcf9e.jpg"></a><a
                    class="sao02" href="javascript:void(0)"></a></div>
        </div>
        <div class="o-mb">完成支付后，您可以：
            <a href="//www.jd.com" clstag="pageclick|keycount|trade_201602181|33">继续购物</a>&nbsp;&nbsp;<a
                    href="http://surveys.jd.com/index.php?r=survey/index/sid/264885/newtest/Y/lang/zh-Hans"
                    clstag="pageclick|keycount|trade_201602181|34">问题反馈</a>
            <span class="jl-jingdou">
            <a href="http://vip.jd.com/help_beansIntroduction.html" class="jl-la" style="color:#7ABD54;"
               target="_blank">完成订单有机会奖励京豆</a> | 使用京豆更超值，请登录<a href="http://vip.jd.com/" target="_blank">会员俱乐部</a>
          </span>
        </div>
    </div>
    <div class="w m" id="da930X100"><a
            href="//c-nfa.jd.com/adclick?keyStr=z5AXFoIimt1jiDK32+w4me7Q3BzAuRONdfYEReONi9Pf82iKMw4v6HAfugOWO+2psa2o+gazQPvUz0tWFQ8wR0bvZcNQb6bW8NjA7sH4qnxa4eG9P+LQ+i7XDdn0nvJz1oEwRbUsC6tQMin70asoR/8NPBPOOMv67ZOyIBJTOJkWKGS/8IRmN5GpuqrBOPYDBvY0tDzeYVvO6GD7pv64H8vAa6QAm01CnX10pC6qyde7NopedPC3du7DL5C86LCm7rgAJfsDkN3cr39q/mKyOw8DnD4R7zcofvTr4ytU1fEqjV5eNKY+ZtEexFIgZ9O50KLb4qjigzwt6HHBU+SMjg==&amp;cv=2.0&amp;url=//sale.jd.com/act/N3VRifA7szZaoxuG.html"
            target="_blank"></a>
    </div>

</div>

<div id="service-2014">
    <div class="slogen">
		<span class="item fore1">
			<i></i><b>多</b>品类齐全，轻松购物
		</span>
        <span class="item fore2">
			<i></i><b>快</b>多仓直发，极速配送
		</span>
        <span class="item fore3">
			<i></i><b>好</b>正品行货，精致服务
		</span>
        <span class="item fore4">
			<i></i><b>省</b>天天低价，畅选无忧
		</span>
    </div>
    <div class="w">
        <dl class="fore1">
            <dt>购物指南</dt>
            <dd>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-29.html">购物流程</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-151.html">会员介绍</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-297.html">生活旅行/团购</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue.html">常见问题</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-136.html">大家电</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/index.html">联系客服</a></div>
            </dd>
        </dl>
        <dl class="fore2">
            <dt>配送方式</dt>
            <dd>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-81-100.html">上门自提</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-81.html">211限时达</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/103-983.html">配送服务查询</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/109-188.html">配送费收取标准</a></div>
                <div><a target="_blank" href="//en.jd.com/chinese.html">海外配送</a></div>
            </dd>
        </dl>
        <dl class="fore3">
            <dt>支付方式</dt>
            <dd>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-172.html">货到付款</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-173.html">在线支付</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-176.html">分期付款</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-174.html">邮局汇款</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-175.html">公司转账</a></div>
            </dd>
        </dl>
        <dl class="fore4">
            <dt>售后服务</dt>
            <dd>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/321-981.html">售后政策</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-132.html">价格保护</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/130-978.html">退款说明</a></div>
                <div><a rel="nofollow" target="_blank" href="//myjd.jd.com/repair/repairs.action">返修/退换货</a></div>
                <div><a rel="nofollow" target="_blank" href="//help.jd.com/user/issue/list-50.html">取消订单</a></div>
            </dd>
        </dl>
        <dl class="fore5">
            <dt>特色服务</dt>
            <dd>
                <div><a target="_blank" href="//help.jd.com/user/issue/list-133.html">夺宝岛</a></div>
                <div><a target="_blank" href="//help.jd.com/user/issue/list-134.html">DIY装机</a></div>
                <div><a rel="nofollow" target="_blank" href="//fuwu.jd.com/">延保服务</a></div>
                <div><a rel="nofollow" target="_blank" href="//o.jd.com/market/index.action">XBinE卡</a></div>
                <div><a rel="nofollow" target="_blank" href="//mobile.jd.com/">XBin通信</a></div>
                <div><a rel="nofollow" target="_blank" href="//s.jd.com/">XBinJD+</a></div>
            </dd>
        </dl>
        <span class="clr"></span>
    </div>
</div>
<div class="w">
    <div id="footer-2014">
        <div class="links"><a rel="nofollow" target="_blank" href="//www.jd.com/intro/about.aspx">关于我们</a>|<a
                rel="nofollow" target="_blank" href="//www.jd.com/contact/">联系我们</a>|<a rel="nofollow" target="_blank"
                                                                                        href="//www.jd.com/contact/joinin.aspx">商家入驻</a>|<a
                rel="nofollow" target="_blank" href="//jzt.jd.com">营销中心</a>|<a rel="nofollow" target="_blank"
                                                                               href="//app.jd.com/">手机XBin</a>|<a
                target="_blank" href="//club.jd.com/links.aspx">友情链接</a>|<a target="_blank"
                                                                            href="//media.jd.com/">销售联盟</a>|<a
                href="//club.jd.com/" target="_blank">XBin社区</a>|<a href="//sale.jd.com/act/FTrWPesiDhXt5M6.html"
                                                                  target="_blank">风险监测</a>|<a
                href="//sale.jd.com/act/cyeSVqiO8GB.html" target="_blank" clstag="h|keycount|2016|43">隐私政策</a>|<a
                href="//gongyi.jd.com" target="_blank">XBin公益</a>|<a href="//en.jd.com/" target="_blank">English Site</a>|<a
                href="//en.jd.com/help/question-58.html" target="_blank">Contact Us</a></div>
        <div class="copyright"><a target="_blank"
                                  href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000088"><img
                src="//img13.360buyimg.com/cms/jfs/t2293/321/1377257360/19256/c267b386/56a0a994Nf1b662dc.png"> 京公网安备
            11000002000088号</a>&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank"
                                                                                                href="//img14.360buyimg.com/da/jfs/t256/349/769670066/270505/3b03e0bb/53f16c24N7c04d9e9.jpg">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>&nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大120007号<br>互联网出版许可证编号新出网证(京)字150号&nbsp;&nbsp;|&nbsp;&nbsp;<a
                rel="nofollow"
                href="//img30.360buyimg.com/uba/jfs/t1036/328/1487467280/1405104/ea57ab94/5732f60aN53b01d06.jpg"
                target="_blank">出版物经营许可证</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="//misc.360buyimg.com/wz/wlwhjyxkz.jpg"
                                                                        target="_blank">网络文化经营许可证京网文[2014]2148-348号</a>&nbsp;&nbsp;|&nbsp;&nbsp;违法和不良信息举报电话：4006561155<br>Copyright&nbsp;©&nbsp;2004-2017&nbsp;&nbsp;XBinJD.com&nbsp;版权所有&nbsp;&nbsp;|&nbsp;&nbsp;消费者维权热线：4006067733&nbsp;&nbsp;&nbsp;&nbsp;<a
                class="mod_copyright_license" target="_blank" href="//sale.jd.com/act/7Y0Rp81MwQqc.html">经营证照</a><br>XBin旗下网站：<a
                href="https://www.jdpay.com/" target="_blank">XBin钱包</a>
        </div>
        <div class="authentication">
            <a rel="nofollow" target="_blank" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026">
                <img width="103" height="32" alt="经营性网站备案中心"
                     src="//img12.360buyimg.com/da/jfs/t535/349/1185317137/2350/7fc5b9e4/54b8871eNa9a7067e.png"
                     class="err-product">
            </a>
            <script type="text/JavaScript">function CNNIC_change(eleId) {
                var str = document.getElementById(eleId).href;
                var str1 = str.substring(0, (str.length - 6));
                str1 += CNNIC_RndNum(6);
                document.getElementById(eleId).href = str1;
            }
            function CNNIC_RndNum(k) {
                var rnd = "";
                for (var i = 0; i < k; i++) rnd += Math.floor(Math.random() * 10);
                return rnd;
            }</script>
            <a rel="nofollow" target="_blank" id="urlknet" tabindex="-1"
               href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005">
                <img border="true" width="103" height="32" onclick="CNNIC_change('urlknet')"
                     oncontextmenu="return false;" name="CNNIC_seal" alt="可信网站"
                     src="//img11.360buyimg.com/da/jfs/t643/61/1174624553/2576/4037eb5f/54b8872dNe37a9860.png"
                     class="err-product">
            </a>
            <a rel="nofollow" target="_blank" href="http://www.bj.cyberpolice.cn/index.do">
                <img width="103" height="32" alt="网络警察"
                     src="//img12.360buyimg.com/cms/jfs/t2050/256/1470027660/4336/2a2c74bd/56a89b8fNfbaade9a.jpg"
                     class="err-product">
            </a>
            <a rel="nofollow" target="_blank" href="https://search.szfw.org/cert/l/CX20120111001803001836">
                <img width="103" height="32"
                     src="//img11.360buyimg.com/da/jfs/t451/173/1189513923/1992/ec69b14a/54b8875fNad1e0c4c.png"
                     class="err-product">
            </a>
            <a target="_blank" href="http://www.12377.cn"><img width="103" height="32"
                                                               src="//img30.360buyimg.com/da/jfs/t1915/215/1329999964/2996/d7ff13f0/5698dc03N23f2e3b8.jpg"></a>
            <a target="_blank" href="http://www.12377.cn/node_548446.htm"><img width="103" height="32"
                                                                               src="//img14.360buyimg.com/da/jfs/t2026/221/2097811452/2816/8eb35b4b/5698dc16Nb2ab99df.jpg"></a>
        </div>
    </div>
</div>
<!-- footer end -->
<!--/ /widget/footer-2015/footer-2015.tpl -->
<script type="text/javascript"
        src="//misc.360buyimg.com/jdf/1.0.0/unit/??base/1.0.0/base.js,basePatch/1.0.0/basePatch.js"></script>
<script type="text/javascript"
        src="//misc.360buyimg.com/jdf/??lib/jquery-1.6.4.js,1.0.0/unit/libPath/1.0.0/libPath.js"></script>
<script type="text/javascript" src="//misc.360buyimg.com/purchase/js/2013/jTips.js"></script>
<script type="text/javascript" src="//success.jd.com/js/loadsuccess.js?v=20160107"></script>
<script type="text/javascript" src="//success.jd.com/js/common.js"></script>
<script type="text/javascript" src="//misc.360buyimg.com/purchase/js/2013/success.js?v=20130902"></script>
<script type="text/javascript"
        src="//wq.360buyimg.com/js/version/201601/wd.module.qrcodeV2.201601081517.js?v=20160108"></script>
<script type="text/javascript">
    $(function () {
        $("#some-buy").jdMarquee({
            deriction: "right",
            auto: true,
            width: 878,
            height: 245,
            step: 6,
            delay: 10,
            control: true,
            speed: 4,
            _front: "#recommend-rigth",
            _back: "#recommend-left"
        });
    });

    (function () {

        var ja = document.createElement('script');

        ja.type = 'text/javascript';

        ja.async = true;

        ja.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'wl.jd.com/wl.js';

        var s = document.getElementsByTagName('script')[0];

        s.parentNode.insertBefore(ja, s);

    })();

</script>
<!-- search counter-->
<script type="text/javascript">
    jQuery.getScript("//sstat.jd.com/scslog?args=2^" + SucInfo_OrderId + "^" + SucInfo_OrderDetail);
    //jQuery.getScript("//chat.jd.com/analysis/analysis.action?orderId=" + SucInfo_OrderId);
</script>
<!--sns
<script type="text/javascript" 	src="//i.jd.com/js/jdconnect/feed.publish.js"></script>
-->
<script type="text/javascript">
    try {
        if (SucInfo_OrderType == 2) {
            feed_publish_buy(5, SucInfo_OrderId);
        } else {
            feed_publish_buy(1, SucInfo_OrderId);
        }
    } catch (e) {
    }
</script>


<script type="text/javascript">
    try {
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    } catch (e) {
    }
</script>
<script src="https://ssl.google-analytics.com/ga.js" type="text/javascript"></script>

<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-2176661-1");
        pageTracker._setDomainName("jd.com");
        pageTracker._trackPageview();
    } catch (e) {
    }
</script>

<script><!--
try {
    var orderid = getOrderId();
    if (orderid != "") {

        //  var js=document.createElement("script");
        //  js.type='text/javascript';
        //  js.src='//click.jd.com/track.aspx?type=3&value='+orderid;
        // document.getElementsByTagName('head')[0].appendChild(js);

        // var js2=document.createElement("script");
        //  js2.type='text/javascript';
        //  js2.src='//chat.jd.com/analysis/analysis.action?orderId='+orderid;
        //  document.getElementsByTagName('head')[0].appendChild(js2);
    }
} catch (e) {
}
function getOrderId() {
    var query = location.search.substring(1);//
    var pairs = query.split("&");//
    for (var i = 0; i < pairs.length; i++) {
        var pItem = pairs[i].split('=');
        if (pItem[0] == "orderId") {
            return pItem[1];
        }
    }
    return "";
}
--></script>
<script type="text/javascript">
    var mediavCountStr = $("#mediavOrderCount").val();
    var successCount = eval("successCount=" + mediavCountStr);
    var google_tag_params = {
        ecomm_prodid: [successCount.skuIds],
        ecomm_pagetype: ['ordersuc'],
        ecomm_totalvalue: [successCount.factPrice],
        ecomm_pname: [null],
        ecomm_pcat: [null],
        ecomm_pvalues: [null],
        ecomm_pbrand: [null]
    };
    var conversion_value = successCount.factPrice;
</script>
<script type="text/javascript">
    dataLayer = [{
        'google_tag_params': window.google_tag_params,
        'conversion_value': window.conversion_value
    }];
</script>
<!-- Google Tag Manager -->
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-T947SH"
    height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-T947SH');</script>
<!-- End Google Tag Manager -->

<noscript>
    &lt;div style="display: inline;"&gt;
    &lt;img height="1" width="1" style="border-style: none;" alt=""
    src="//www.googleadservices.com/pagead/conversion/1066677870/?value=0&amp;amp;label=KpmsCJLsPhDu7ND8Aw&amp;amp;guid=ON&amp;amp;script=0"
    /&gt;
    &lt;/div&gt;
</noscript>

<!-- MEDIAV  start  -->
<script type="text/javascript">
    var _mvq = _mvq || [];
    _mvq.push(['$setAccount', 'm-9-1']);
    _mvq.push(['$setGeneral', 'ordercreate', '', '', '']);
    _mvq.push(['$logConversion']);
    (function () {
        var mvl = document.createElement('script');
        mvl.type = 'text/javascript';
        mvl.async = true;
        mvl.src = '//misc.360buyimg.com/lib/js/2012/mvl.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(mvl, s);
    })();
    var unionUnId = $.cookie("unionUnId");
    if (unionUnId != null && (unionUnId == "42054" || unionUnId == 42054 || unionUnId == "49525" || unionUnId == 49525 || unionUnId == "50395" || unionUnId == 50395 || (unionUnId + "") == 46735541 || (unionUnId + "") == "46735539" )) {
        try {
            var _mvq = _mvq || [];
            var mediavCountStr = $("#mediavOrderCount").val();
            var successCount = eval("successCount=" + mediavCountStr);
            if (successCount != null && successCount.success == true) {
                _mvq.push(['$setGeneral', 'ordercreate', '', '', '']);
                _mvq.push(['$addOrder', successCount.orderId, successCount.factPrice]);
                var countInfos = successCount.countInfos;
                for (var i = 0; i < countInfos.length; i++) {
                    var countInfo = countInfos[i]
                    _mvq.push(['$addItem', countInfo.orderId, countInfo.skuId, countInfo.price, countInfo.num]);

                }
                _mvq.push(['$logData']);
            }
        } catch (e) {
        }
    }
</script>
<!-- MEDIAV  end  -->

<div id="wx-share-tip"><span class="tip-arrow"><em class="layer1"></em><em class="layer2"></em></span>
    <div class="tip-inner">
        <div class="wx-qrcode"><span id="wx-arcode-img" src="//temp.im/80x80/FAF0E4/000" alt="" class="qrcode"><canvas
                width="120" height="120"></canvas></span>
            <div class="cont">
                <div class="title"><strong>微信扫一扫</strong><br>分享到微信购物圈，与好友分享！</div>
                <div class="hint">好友购买你分享的商品，您们都将获得京豆奖励！</div>
            </div>
        </div>
        <div class="wx-explain">
            <div class="title">购物圈是什么？</div>
            <div class="hint">购物圈是微信好友购物的分享社区，在这里您可以和好友分享购物乐趣</div>
            <img src="//misc.360buyimg.com/user/purchase/2.0.0/css/i/gwq-step.jpg" alt="" class="step"></div>
    </div>
</div>
</body>
</html>