<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<context:annotation-config />

	<!-- 加载配置文件 -->
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
				<value>classpath:mq_config.properties</value>
				<value>classpath:public_system.properties</value>
				<value>classpath:config/config.properties</value>
			</list>
		</property>
	</bean>

	<!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 配置包扫描器，扫描所有带@Service注解的类 -->
	<context:component-scan base-package="vip.xubin"/>

	<import resource="classpath:spring/spring-mapper.xml" />
	<import resource="classpath:spring/spring-freemarker.xml" />
	<import resource="classpath:spring/spring-mq.xml" />
	<import resource="classpath:spring/spring-dubbo-provider.xml" />
	<import resource="classpath:spring/spring-dubbo-consumer.xml" />
</beans>