<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://code.alibabatech.com/schema/dubbo
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbox.application}" owner="programmer" organization="dubbox"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>

    <!-- 用户服务 -->
    <dubbo:reference interface="vip.xubin.sso.service.UserService" id="userService" check="false"/>
    <dubbo:reference interface="vip.xubin.redis.service.JedisClient" id="jedisClient" check="false"/>
    <dubbo:reference interface="vip.xubin.notify.service.NotifyUserService" id="notifyUserService" check="false"/>

</beans>
