<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.binux.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.binux.pojo.TbOrder" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="INTEGER" />
    <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="shipping_name" property="shippingName" jdbcType="VARCHAR" />
    <result column="shipping_code" property="shippingCode" jdbcType="VARCHAR" />
    <result column="no_annoyance" property="noAnnoyance" jdbcType="VARCHAR" />
    <result column="service_price" property="servicePrice" jdbcType="VARCHAR" />
    <result column="return_price" property="returnPrice" jdbcType="VARCHAR" />
    <result column="total_weight" property="totalWeight" jdbcType="VARCHAR" />
    <result column="buyer_rate" property="buyerRate" jdbcType="INTEGER" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, user_id, addr_id, payment, payment_type, post_fee, status, shipping_name, 
    shipping_code, no_annoyance, service_price, return_price, total_weight, buyer_rate, 
    close_time, end_time, payment_time, consign_time, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.binux.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.binux.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.binux.pojo.TbOrder" >
    insert into tb_order (order_id, user_id, addr_id, 
      payment, payment_type, post_fee, 
      status, shipping_name, shipping_code, 
      no_annoyance, service_price, return_price, 
      total_weight, buyer_rate, close_time, 
      end_time, payment_time, consign_time, 
      create_time, update_time)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{addrId,jdbcType=BIGINT}, 
      #{payment,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER}, #{postFee,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{shippingName,jdbcType=VARCHAR}, #{shippingCode,jdbcType=VARCHAR}, 
      #{noAnnoyance,jdbcType=VARCHAR}, #{servicePrice,jdbcType=VARCHAR}, #{returnPrice,jdbcType=VARCHAR}, 
      #{totalWeight,jdbcType=VARCHAR}, #{buyerRate,jdbcType=INTEGER}, #{closeTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, #{consignTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.binux.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="postFee != null" >
        post_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="shippingName != null" >
        shipping_name,
      </if>
      <if test="shippingCode != null" >
        shipping_code,
      </if>
      <if test="noAnnoyance != null" >
        no_annoyance,
      </if>
      <if test="servicePrice != null" >
        service_price,
      </if>
      <if test="returnPrice != null" >
        return_price,
      </if>
      <if test="totalWeight != null" >
        total_weight,
      </if>
      <if test="buyerRate != null" >
        buyer_rate,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="addrId != null" >
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postFee != null" >
        #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="shippingName != null" >
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        #{shippingCode,jdbcType=VARCHAR},
      </if>
      <if test="noAnnoyance != null" >
        #{noAnnoyance,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null" >
        #{servicePrice,jdbcType=VARCHAR},
      </if>
      <if test="returnPrice != null" >
        #{returnPrice,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null" >
        #{totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        #{buyerRate,jdbcType=INTEGER},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.binux.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.addrId != null" >
        addr_id = #{record.addrId,jdbcType=BIGINT},
      </if>
      <if test="record.payment != null" >
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=INTEGER},
      </if>
      <if test="record.postFee != null" >
        post_fee = #{record.postFee,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.shippingName != null" >
        shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCode != null" >
        shipping_code = #{record.shippingCode,jdbcType=VARCHAR},
      </if>
      <if test="record.noAnnoyance != null" >
        no_annoyance = #{record.noAnnoyance,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePrice != null" >
        service_price = #{record.servicePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.returnPrice != null" >
        return_price = #{record.returnPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.totalWeight != null" >
        total_weight = #{record.totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerRate != null" >
        buyer_rate = #{record.buyerRate,jdbcType=INTEGER},
      </if>
      <if test="record.closeTime != null" >
        close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymentTime != null" >
        payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.consignTime != null" >
        consign_time = #{record.consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      addr_id = #{record.addrId,jdbcType=BIGINT},
      payment = #{record.payment,jdbcType=VARCHAR},
      payment_type = #{record.paymentType,jdbcType=INTEGER},
      post_fee = #{record.postFee,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      shipping_code = #{record.shippingCode,jdbcType=VARCHAR},
      no_annoyance = #{record.noAnnoyance,jdbcType=VARCHAR},
      service_price = #{record.servicePrice,jdbcType=VARCHAR},
      return_price = #{record.returnPrice,jdbcType=VARCHAR},
      total_weight = #{record.totalWeight,jdbcType=VARCHAR},
      buyer_rate = #{record.buyerRate,jdbcType=INTEGER},
      close_time = #{record.closeTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{record.consignTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.binux.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="addrId != null" >
        addr_id = #{addrId,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="postFee != null" >
        post_fee = #{postFee,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="shippingName != null" >
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null" >
        shipping_code = #{shippingCode,jdbcType=VARCHAR},
      </if>
      <if test="noAnnoyance != null" >
        no_annoyance = #{noAnnoyance,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null" >
        service_price = #{servicePrice,jdbcType=VARCHAR},
      </if>
      <if test="returnPrice != null" >
        return_price = #{returnPrice,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null" >
        total_weight = #{totalWeight,jdbcType=VARCHAR},
      </if>
      <if test="buyerRate != null" >
        buyer_rate = #{buyerRate,jdbcType=INTEGER},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.binux.pojo.TbOrder" >
    update tb_order
    set user_id = #{userId,jdbcType=BIGINT},
      addr_id = #{addrId,jdbcType=BIGINT},
      payment = #{payment,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=INTEGER},
      post_fee = #{postFee,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      shipping_name = #{shippingName,jdbcType=VARCHAR},
      shipping_code = #{shippingCode,jdbcType=VARCHAR},
      no_annoyance = #{noAnnoyance,jdbcType=VARCHAR},
      service_price = #{servicePrice,jdbcType=VARCHAR},
      return_price = #{returnPrice,jdbcType=VARCHAR},
      total_weight = #{totalWeight,jdbcType=VARCHAR},
      buyer_rate = #{buyerRate,jdbcType=INTEGER},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>