<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="${dubbox.application}" owner="programmer" organization="dubbox" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />

	<!-- 扫描包路径 -->
	<dubbo:annotation package="vip.xubin" />

	<!-- 用dubbo协议在xx端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="${dubbox.dubbo.port}" host="${dubbox.dubbo.host}" />
	
	<!-- 当ProtocolConfig和ServiceConfig某属性没有配置时,采用此缺省值 -->
	<dubbo:provider timeout="30000" threadpool="fixed" threads="500" accepts="1000" />

	<!-- kryo实现序列化 -->
	<dubbo:protocol name="dubbo" serialization="kryo" optimizer="vip.xubin.serial.SerializationOptimizerImpl" />

	<!-- rest -->
	<dubbo:protocol name="rest" server="${dubbox.rest.server}" port="${dubbox.rest.port}" contextpath="${dubbox.rest.contextpath}" threads="${dubbox.rest.threads}" accepts="${dubbox.rest.accepts}" />


	<!-- 声明需要暴露的账户服务接口 -->
	<!--<dubbo:service retries="0" interface="xx" ref="xx" />-->

</beans>  