<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	 <!--solr单机版 -->
	<bean id="solrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer" >
		<constructor-arg name="baseURL" value="${solr.single.url}" />
	</bean>
	<!-- solr集群版 -->
	<!--<bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">-->
		<!--<constructor-arg name="zkHost" value="219.230.50.105:2181,219.230.50.105:2182,219.230.50.105:2183"></constructor-arg>-->
		<!--<property name="defaultCollection" value="collection2"></property>-->
	<!--</bean>-->
</beans>